<div id="aboutUs">
	<h3>About Us</h3>
	Everyday is full of new discoveries and innovations, but most of the time<br/>
	one doesn't get to know them because of how this information is spread all over<br/> different places.<br/><br/>
	We have developed this website to get together the best news regarding several<br/>
	types of articles about anything technology related, from gadgets to videogames,<br/> including expert's reviews about topics of interest.<br/><br/><br/>

	<table style="width:100%">
		<tr>
			<td style="width:10%"></td>
			<td style="width:80%">
				<table id="theTeamTable">
					<tr>
						<td>
							<h4>Ricardo Pérez</h4>
							<%= image_tag("Ricky", :class => "teamMemberPicture") %>
							<p>ITC</p>
							<p>Seventh Semester</p>
							<p><%= mail_to "ricardoperezper@gmail.com" do %>ricardoperezper@gmail.com<% end %></p>
						</td>
						<td>
							<h4>Makoto Morimoto</h4>
							<%= image_tag("Makoto", :class => "teamMemberPicture") %>
							<p>ITC</p>
							<p>Fifth Semester</p>
							<p><%= mail_to "humberto_makoto@hotmail.com" do %>humberto_makoto@hotmail.com<% end %></p
						</td>
					</tr>
				</table>
			</td>
			<td style="width:10%"></td>
		</tr>
	</table>
</div>