<div id="sliderContainer">
	<ul class="slider">
		<li>
			<input type="radio" id="slide0" name="slide" checked />
			<label for="slide0"></label>
			<div class="slideTitle" id="slideTitle0"><p>Halo 5</p></div>
			<%= image_tag("Halo5") %>
		</li>
		<li>
			<input type="radio" id="slide1" name="slide" />
			<label for="slide1"></label>
			<div class="slideTitle" id="slideTitle1"><p>Metal Gear Solid V</p></div>
			<%= image_tag("MGSV") %>
		</li>
		<li>
			<input type="radio" id="slide2" name="slide" />
			<label for="slide2"></label>
			<div class="slideTitle" id="slideTitle2"><p>Star Wars Battlefront</p></div>
			<%= image_tag("SWBattlefront") %>
		</li>
		<li>
			<input type="radio" id="slide3" name="slide" />
			<label for="slide3"></label>
			<div class="slideTitle" id="slideTitle3"><p>Fallout 4</p></div>
			<%= image_tag("Fallout4") %>
		</li>
	</ul>
</div>