.accountInformationCheckbox > input[type="checkbox"] {
	visibility: visible;
	display: inline;
	margin: 10px 0px;
}

.accountInformationCheckbox {
	font-size: 15px;
}

.signInForm {
	width: 100%;
	text-align: center;
	position: relative;
	top: 10px;
}

.signUpForm {
	width: 100%;
	text-align: center;
	position: relative;
	top: 0px;
}

.signField {
	padding-top: 10px;
	font-size: 18px;
}

.signField > input {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
}

.signButton {
	font-size: 18px;
}

.signButton:hover {
	cursor: pointer;
}

#signUpMessage {
	font-style: italic;
	padding: 10px 0px;
	font-size: 14px;
}

.signUpErrors {
	margin: auto;
	padding: 10px 0px;
	width: 100%;
	background-color: #FF3D42;
	opacity: 0;
	animation: blinker 2s linear 5;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.introField {
	width: 600px;
	height: 150px;
}

.contentField {
	width: 600px;
	height: 300px;
}

.articleSection {
	visibility: visible;
	display: inline;
	margin: 10px 0px;
	font-size: 15px;
}

.articleTextBox {
	width: 600px;
}