#sliderContainer {
    height: 500px;
    width: 100%;
}

.slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 19em;
    left: 50%;
    margin: -4em -13em;
    padding: .5em;
    position: relative;
    top: 130px;
    width: 25em;
}
 	
.slider:before {
    background-color: #242B32;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

.slider:after {
    background-color: #48535D;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style: none;
    position: absolute;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}

.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}

.slider:hover label {
    opacity: 1;
    visibility: visible;
}

.slider input:checked + label {
    background-color: #fff;
}

.slider:hover li:nth-child(1) label {
    left: 8.5em;
}

.slider:hover li:nth-child(2) label {
    left: 10.5em;
}

.slider:hover li:nth-child(3) label {
    left: 12.5em;
}

.slider:hover li:nth-child(4) label {
    left: 14.5em;
}

.slider img {
    height: 15em;
    opacity: 0;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slideTitle {
    width: 100%;
    height: 70px;
    visibility: hidden;
    text-align: center;
    vertical-align: center;
    background-color: #616366;
    color: white;
    font-weight: bold;
}

.slideTitle > p {
    margin-top: 0px;
    text-align: center;
    position: relative;
    top: 50%;
    width: 400px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#slideTitle0 {
    visibility: visible;
}

#mainMenuArticleSection {
    margin: 20px 0px 20px 5%;
    overflow: hidden;
    width: 90%;
}

#mainMenuArticleContainer1 {
    text-align: center;
    width: 48%;
    float: left;
    border: 3px solid #BFC2C0;
    border-right: 2px dashed #7B7D7C;
}

#mainMenuArticleContainer2 {
    text-align: center;
    width: 48%;
    float: left;
    border: 3px solid #BFC2C0;
    border-left: 0px dashed #7B7D7C;
}

.mainMenuArticleContainer > table {
    width: 100%;
    text-align: center;
    background-color: #727477;
}

.mainMenuArticleTable td, th {
    padding: 10px 0px;
}

.mainMenuArticleTable th {
    padding: 15px 0px;
    background-color: #37424C;
    font-size: 22px;
    color: #9FA7AE;
}

.mainMenuArticleTable tr {
    font-size: 20px;
    background-color: #727477;
}

.articleImage {
    height: 80px;
    width: 80px;
    margin: auto;
}

.mainMenuArticleTable td > p {
    text-align: center;
    position: relative;
    top: 50%;
    display: inline;
    margin-top: -40px;
}

.articleSectionImageCell {
    width: 40%;
}

.articleSectionTitleCell {
    width: 60%;
    text-align: left;
}

#leftHomePage {
    float: left;
    min-height: 100px;
    height: auto;
    width: 60%;
}

#mainMenuTopReviews {
    float: right;
    min-height: 100px;
    height: auto;
    width: 40%;
    margin: 20px 0px;
}

#mainMenuTopReviews > div {
    margin: auto;
    width: 70%;
}

#mainMenuTableTopReviews {
    width: 100%;
    text-align: center;
    background-color: #37424C;
    border-top: 3px solid #727477;
    border-left: 3px solid #727477;
    border-right: 3px solid #727477;
}

.mainMenuTableTopReviews {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    background-color: #727477;
}

#topOneReviewImage {
    margin: auto;
    width: 200px;
    height: 200px;
}

#mainMenuTableTopReviews th {
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    background-color: #37424C;
    color: #9FA7AE;
}

.mainMenuTableTopReviews td {
    font-size: 18px;
    padding: 10px 0px;
}

.mainMenuTableTopReviews th#topRatingsTitle {
    font-size: 30px;
}

.topReviewImage {
    width: 60px;
    height: 60px;
    margin: auto;
}

.topReviewImageContainer {
    width: 40%;
}

.topReviewTitle {
    text-align: left;
    width: 40%;
}

.topReviewRating {
    width: 20%;
}